html {
    font-size: 16px;
    font-family: sans-serif;
}

body {
    background-color: #690011;
    margin: 0px;
}

div#header {
    margin: 24px auto 12px auto;
    width: 624px;
}

div#header a {
    color: #f2d99c;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

div#content {
    background-color: #f2d99c;
    border-bottom: solid 6px #e5b96f;
    border-top: solid 6px #e5b96f;
    color: black;
    margin: 12px auto 12px auto;
    padding: 6px 12px 6px 12px;
    width: 600px;
}

div#languages {
    text-align: center;
    font-size: 14px;
}

div#languages a {
    color: #f2d99c;
    margin: 12px 6px 12px 6px;
}
